  .rating-span{
    display: flex;
    align-self: self-start;
    margin: auto 0;
    font-size: 0.7rem!important;
  }
  .rating{
    align-self: self-start;
    font-size: 0.8rem!important;
    padding: 0.1rem 0.05rem ;
    margin-bottom: 0.3rem;
  }
  