.navbar{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    /* border: 5px solid #526EB6; */
    border-radius: 4rem;
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow:0px 5px 4px 0px #788ab5;
    position: sticky;
    top:0;
}
.leftnavelements{
    display: flex;
    
}
.leftnavelements a{
    text-decoration: none;
    margin-right: 7px;
    color: #526EB6;
    font-size: 1.3rem;
    padding-right: 1rem;
}
.rightnavelements{
    margin-right: 7px;
    color: #526EB6;
    display: flex;
    font-size: 1.3rem;
}
.rightnavelements a{
    text-decoration: none;
    margin-right: 7px;
    color: #526EB6;
    font-size: 1.3rem;
    padding-right: 1rem;
}
.navbar .activeNavLink{
    color: #091f54;
    font-size: 1.4rem;
    text-decoration-line: underline;

}